extends layout

block content
		.jumbotron
			.container
				h1 How May I Help You?
				p Left till here away at to whom past. Feelings laughing at no wondered repeated provided finished. It acceptance thoroughly my advantages everything as
				a.btn.btn-primary.btn-lg(href='#') Learn more &raquo
		.container
			.row
				.col-md-4
					h2 About Us
					p Left till here away at to whom past. Feelings laughing at
					a.btn.btn-default(href='#') View details
				.col-md-4
					h2 Services
					p Left till here away at to whom past. Feelings laughing at
					a.btn.btn-default(href='#') View details
				.col-md-4
					h2 Get in touch
					p Left till here away at to whom past. Feelings laughing at
					a.btn.btn-default(href='#') View details