body {
    padding-top: 50px;
}

.jumbotron {
    background: url(../images/jumbotron.jpg) no-repeat;
}

footer {
    background: #f4f4f4;
    height: 2.3em;
    text-align: center;
    margin-top: 2em;
    padding-top: 0.7em;
    overflow: auto;
}